<!DOCTYPE html>
<html lang = "en">

<head>
<title>Playlists</title>
</head>

<body>

<ul>
    {{#each playlist}}
    </li>
        {{playlist_name}}
        
    </li>
    {{/each}}
</ul>
</body>
</html>