<!DOCTYPE html>
<html lang = "en">

<head>
<title>{{playlist_name}}</title>
</head>

<body>

<li>
    {{#each Song}}
    <p>{{song_title}}</p>
    <p>{{artist}}</p>
    <p>{{album}}</p>
    {{/each}}
</li>
</body>
</html>