<link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />


<div class="playlist" id={{id}}></div>

<div id="songs">
    <ol id="songList">

    </ol>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/playlistdetails.js"></script>