

<form id = "search-form">
  <strong>Search Music: </strong>
  <input type="text" id="search" value="">
   <button class="go-btn" type="button" id="submit"><strong>Go!</strong></button>
</form> 

<div id="results">
    <h2>Results</h2><br>
    <ol id="resList">

    </ol>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/search.js"></script>