<form id="search-form">
  <strong>Search Music: </strong>
  <input type="text" id="search" value="">
  <button class="go-btn" type="button" id="submit"><strong>Go!</strong></button>
</form>

<div class="container" id="results"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/search.js"></script>
